@font-face {
    font-family: 'Gilroy', sans-serif;
    src: url(/Homeworks/Work6/fonts/Gilroy-BlackItalic.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/Homeworks/Work6/fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/Homeworks/Work6/fonts/Roboto-Bold.ttf);
}