$white: #ffffff;
$orange: #F7941E;
$black: #000000;
$whitesmoke: whitesmoke;
$FAFAFA: #FAFAFA;
$Gilroy: 'Gilroy', sans-serif;
$Roboto: 'Roboto', sans-serif;
$font-size14: 14px;
$font-size18: 18px;
$font-size20: 20px;
$line-height18: 18px;
$line-height: 22px;
$line-height24: 24px;
$font-weight: 700;
$margin-left: 100px;
$padding: 154px 126px 135px 162px;
$bp-mobile: 375px;
$bp-mobile-big: 500px;
$bp-tablet-pl: 750px;
$bp-tablet: 900px;
